<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	<servlet>
		<servlet-name>SolrProxy</servlet-name>
		<servlet-class>foo.SolrProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SolrProxy</servlet-name>
		<url-pattern>*.solr</url-pattern>
	</servlet-mapping>
	<!-- Enables Security -->
	<filter>
	    <filter-name>AuthFilter</filter-name>
	    <filter-class>com.force.sdk.oauth.AuthFilter</filter-class>
         <init-param>
            <param-name>url</param-name>
            <param-value>${FORCE_DOT_COM_URL}</param-value>
         </init-param>
	</filter>
	<!-- 
	<filter-mapping>
	    <filter-name>AuthFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
</web-app>
